.nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav_black{
    background-color: black;
}

.nav_logo{
    width: 100px;
    object-fit: contain;
    position: fixed;
    left: 20px;
    top: 0
}

.nav_avatar{
    width: 30px;
    object-fit: contain;
    position: fixed;
    right: 20px;
}